@page
@model MyRazorPages.Pages.Account.ForgotPasswordConfirmationModel
@{
}
<div id="form">
    <h3 style="padding: 20px;">Forgot your account password?</h3>
    <div style="padding: 0px 20px 10px;">
        Reset mail has sent, please check your email to reset new password
    </div>
</div>