@page
@model MyRazorPages.Pages.Account.ResetPasswordConfirmationModel
@{
}
<div id="form">
    <h3 style="padding: 20px;">Reset Password</h3>
    <div style="padding: 0px 20px 10px;">
         Successfully reset password, you now can follow <a href="~/Account/SignIn">this link</a> to login
    </div>
</div>